body{
    background-image: url(pro.png);/*background of certificate */
    background-size:cover;/*it should cover the whole page or not*/
    background-position: center center;/*position of background image*/
    background-repeat: no-repeat;/*It some space is left thaan it should repeat itself or not*/
    background-attachment: fixed;/**/
    color: azure;/*color of body*/
} 

.titles{
    color:azure;/*color of font*/
    font-family: 'Times New Roman', Times, serif;/*font family */
    font: bolder;/*boldness of font*/
    font-size:15mm;/*font size*/
    margin-left: 42%;/*margin from left*/
    margin-top: 10%;/*margin from top*/
    border-radius: 5px;/*radius of the border*/
    border-color: aqua;/*color of the border*/
}

img{ 
    cursor: pointer;/*Cursor location*/
    margin-right: 10px;/*what should be the right margin*/
    border-radius: 10%;/*radius of th eborder of image*/
    margin-top: 5%;/*margin from the top*/
    margin-left: 42%;/*margin from left*/
    font-size:5mm;/*size of font*/
    color:azure;/*color of font*/
    aspect-ratio: 14/3;
}

.card {
    aspect-ratio: 7/9;
}